<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://unsplash.it/600?image=9" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/" class="navbar-wagon-item navbar-wagon-link">Home</a>
    <a href="/posts/new" class="navbar-wagon-item navbar-wagon-link">New Post</a>

  </div>
</div>
